<div class="sidenav" (mouseenter)="drawer.toggle()" (mouseleave)="drawer.toggle()">
    <mat-sidenav-container class="container">
        <mat-sidenav class="p-4 text-center" #drawer mode="side" position="end" closed>
            <div class="content">
                <a href="#" class="p-4 text-format">Dashboard</a>
                <a href="#" class="p-4 text-format">Projects</a>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
<!-- <div class="svg">
    <img src="assets/menu-rounded-50.png" (click)="drawer.toggle()" />
</div> -->