<div class="sidenav" (mouseenter)="drawerEvent()" (mouseleave)="drawerEvent()">
    <mat-sidenav-container class="container">
        <img src="/assets/menu-rounded-50.png" class="sidemenu">

        <mat-sidenav class="p-4 text-center" #drawer mode="side" position="end" closed>
            <div class="content">
                <a href="" class="p-4 text-format">
                    <img class="logo" src="/assets/logo.png"/>
                </a>
                <a href="dashboard" class="p-4 text-format">Dashboard</a>
                <a href="projects" class="p-4 text-format">Projects</a>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>