<div class="project--main">

    <div class="project--content">
        <div class="project--info">
            <p><span>Project Name:</span> <input #nameValue type="text"></p>
            <p><span>Project Status:</span> <input #statusValue type="text"> </p>
        </div>
        <div class="project--info">
            <p><span> Start Data: </span> <input #startValue type="text"> </p>
            <p><span>Project End Data: </span> <input #endValue type="text"> </p>
        </div>
    </div>

    <div class="edit--button">
        <button class="m-2" mat-raised-button (click)="CreateProject()">Create!</button>
    </div>
</div>