img {
    width: 200px;
    object-fit: cover;
}

.card {
    margin: 2rem auto;
    max-width: 1200px;

}

.content {
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;
    justify-content: start;
    gap: 3rem;

    .content--text {
        max-width: 50%;
        font-size: 1rem;
        line-height: 1.5rem;

    }
}