<mat-card class="card">
    <div class="m-4">
    <mat-card-title> João Sousa </mat-card-title>
    <mat-card-subtitle>Web Developer</mat-card-subtitle>
    <div class="content">
        <mat-card-content class="content--text">I am a skilled Front-End Developer with a passion for learning new
            technologies and overcoming new challenges.
            Equipped with a diverse skill-set, proficient in various platforms, languages
            and cutting-edge development tools and procedures.
            Able to effectively self-manage during independents projects as well as
            collaborate as part of a production team.</mat-card-content>
        <img mat-card-image src="/assets/leme.PNG">
    </div>
</div>
</mat-card>