<div class="project--main">


    <div *ngIf="edit; else elseBlock">
        <div class="project--content">
            <div class="project--info">
                <p><span>Project Name:</span> <input #nameValue type="text" [value]="name" ></p>
                <p><span>Project Status:</span> <input #statusValue type="text" [value]="status"> </p>
            </div>
            <div class="project--info">
                <p><span> Start Data: </span> <input #startValue type="text" type="date" [value]="start"> </p>
                <p><span>Project End Data: </span> <input #endValue type="text" type="date" [value]="end"> </p>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="project--content">
            <div class="project--info">
                <p><span>Project Name:</span> {{name}}</p>
                <p><span>Project Status:</span> {{status}}</p>
            </div>
            <div class="project--info">
                <p><span> Start Data: </span> {{start}}</p>
                <p><span>Project End Data: </span>{{end}}</p>
            </div>
        </div>
    </ng-template>


    <div class="edit--button">
        <button *ngIf="!edit" class="m-2" mat-raised-button (click)="deleteProject()">Delete</button>
        <button *ngIf="!edit" class="m-2" mat-raised-button (click)="edit = !edit">Edit</button>
        <button *ngIf="edit" class="m-2" mat-raised-button (click)="edit = !edit">Cancel</button>
        <button *ngIf="edit" class="m-2" mat-raised-button (click)="updateProject()">Done!</button>
    </div>
</div>