/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: 'EB Garamond', "Helvetica Neue", sans-serif; 
    font-size: 1.15rem;
}


html, body { height: 100%; }
body { margin: 0; }
